---
all:
  children:
    ubuntu_servers:
      hosts:
%{ for name, vm in virtual_machines ~}
        ${name}:
          ansible_host: ${vm.primary_ipv4_address}
          ansible_user: ${vm.ssh_username}
%{ endfor ~}
      vars:
        ansible_connection: ssh
        ansible_python_interpreter: /usr/bin/python3
